<div class="hero-unit contacts">
	<h2>Contacts</h2>
</div>

	<div class="row">
		<a href="#example" class="span6 contact" role="button" data-toggle="modal" data-target="#example">
			<div>
				<%= image_tag("Profile.png") %>
			</div>
			<div>
				<p>Granny Granville</p>
			</div>
		</a>
	</div>

<div id="example" class="modal hide fade in" style="display: none; ">
	<div class="modal-header">  
		<a class="close" data-dismiss="modal">×</a>  
		<h3>Granny Granville</h3>  
	</div>  
	<div class="modal-body">
		<div class="modal_contact">  
			<%= image_tag("Profile.png",  :size => "140x140") %>
		</div>
		<div class="modal_contact">
			<p>email: emailtest@live.co.uk</p>
			<p>mobile: 07891 998195</p>
		</div>               
	</div>  
	<div class="modal-footer">  
		<a href="#" class="btn btn-success">Video call</a>
		<a href="#" class="btn">Send an email</a>  

	</div>
	</a>  
</div>
		
		
	
