<div class="hero-unit contacts">
	<h2>Contacts</h2>
</div>

	<div class="row">
		<a href="#">
		<div class="contact">
			<div>
				<%= image_tag("Profile.png") %>
			</div>
			<div>
				<p>Granny Granville</p>
			</div>
		</div>
		</a>
	</div>
	