<div class="hero-unit home">
	<h1>WebAhhTeeSee</h1>
</div>

<div class="row">
	
	<a class = "span4 bg-color-orange users" href="contacts.html" style="text-decoration:none">
		<div class ="row">
			<div class="span2">
				<h2 class="fg-color-white">Contacts</h2>
			</div>
		</div>	
	</a>

	<a class="span4 bg-color-red" href="video.html" style="text-decoration:none">
		<div class="row">
			<div class="span2">
				<h2 class="fg-color-white" >Video<h2>
			</div>
		</div>
	</a>
		
	<a class="span4 bg-color-blue" href="about.html" style="text-docoration:none">
		<div class="row">
			<div class = "span2">
				<h2 class="fg-color-white" >About<h2>				
			</div>
		</div>
	</a>
	
</div>	
			

