.contact{
	height: 90px;
	width: 300px;
	background-color:#FF6F00;
	
	p {
		font-size: 1.5em;
		padding-left: 20px;
		padding-bottom: 0px;
		padding-top: 30px;
		float:left;
		color:black;
	}

	img {
		width: 75px;
		height: 75px;
		padding-top:7.5px;
		padding-left:10px;
		float:left;
	}
}

.modal_contact {
	img {
		width: 200px;
		height: 200px;
		float:left;
	}
	p {
		float:left;
		font-size: 1.2em;
		padding-left: 10px ;
	}
}

.modal-body {
	max-heigh: 800px;
	background-color:#FECC80;
}